@mixin better-blur($radius) {
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1'%3E%3CfeGaussianBlur stdDeviation='#{$radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='#{$radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
  }

* {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

html {
    height: 100%;
}

.bg-image{
    background-image: url("../img/background.jpg");
    height: 100vh;
    filter: blur(50px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1); 
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.intro{
    background: rgb(225, 225, 225); /* Fallback for older browsers without RGBA-support */
    background: rgba(225, 225, 225, 0.5);
    border-radius: 10px;
    margin-top: 2rem;
}

.intro-container{
    margin: 2rem;
    margin-top: 5rem;
}

.main-content{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.wrapper{
    overflow: hidden;
}

/* Responsive */
@media(min-width: 992px){
    .intro{
        background: rgb(225, 225, 225); /* Fallback for older browsers without RGBA-support */
        background: rgba(225, 225, 225, 0.5);
        border-radius: 10px;
        margin: auto;
    }
    
    .intro-container{
        margin: auto;
        margin-top: 10rem;
    }
}